.settings-page{
    height: 100vh;
    width: 100%;
    /* background-image: url('../../Assets/settings-bg.jpg'); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-container{
    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
}